# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
#cosmos - simplify dbt workflow in airflow 
#providers -collections of hooks, operators, and sensors that allow Airflow to connect to and interact with external systems. 
astronomer-cosmos
apache-airflow-providers-snowflake